.tree-cell {
    -fx-padding: 3 10 3 10; /* Make top and bottom padding equal */
    -fx-alignment: center-left; /* Ensure everything is aligned to the left */
}

.tree-disclosure-node {
    -fx-padding: 0 5 0 0; /* Less right padding for closer alignment with text */
}

.tree-view .tree-cell:filled:selected {
    -fx-background-color: -fx-focus-color;
}

.tree-view {
    -fx-show-root: true;
    -fx-control-inner-background: #f9f9f9;
}
