/* Definieren Sie benutzerdefinierte Schriften */
@font-face {
    font-family: 'ControlFont';
    src: url('{controlFont}');
}

@font-face {
    font-family: 'SystemFont';
    src: url('{systemFont}');
}

@font-face {
    font-family: 'UserFont';
    src: url('{userFont}');
}

@font-face {
    font-family: 'SmallFont';
    src: url('{smallFont}');
}

/* Verwenden Sie die benutzerdefinierten Schriften */
.root {
    -fx-font-family: 'ControlFont';
}

.menu-bar {
    -fx-font-family: 'ControlFont';
}

.text-field {
    -fx-font-family: 'SystemFont';
}

.label {
    -fx-font-family: 'UserFont';
}

.small-text {
    -fx-font-family: 'SmallFont';
}

/* Benutzerdefinierte Symbole für TreeView */
.tree-cell {
    -fx-graphic: url("images/TreeLeaf.gif");
}

.tree-cell:expanded > .tree-disclosure-node {
    -fx-graphic: url("images/TreeExpanded.gif");
}

.tree-cell:collapsed > .tree-disclosure-node {
    -fx-graphic: url("images/TreeCollapsed.gif");
}
